{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login Form Template</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href='{% static "accounts/assets/bootstrap/css/bootstrap.min.css" %}'>
        <link rel="stylesheet" href='{% static "accounts/assets/font-awesome/css/font-awesome.min.css"%}'>
		<link rel="stylesheet" href='{% static "accounts/assets/css/form-elements.css"%}'>
        <link rel="stylesheet" href='{% static "accounts/assets/css/style.css"%}'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file: -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href='{% static "accounts/assets/ico/favicon.png"%}'>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href={% static "accounts/assets/ico/apple-touch-icon-144-precomposed.png"%}'>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href={% static "accounts/assets/ico/apple-touch-icon-114-precomposed.png"%}'>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href={% static "accounts/assets/ico/apple-touch-icon-72-precomposed.png"%}'>
        <link rel="apple-touch-icon-precomposed" href={% static "accounts/assets/ico/apple-touch-icon-57-precomposed.png"%}'>

    </head>

    <body style="background-image:url(../../static/accounts/assets/img/backgrounds/1.jpg)">

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login to <a href="/">MVPM</a></h3>
                            		<p>Enter your username and password to log on:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form">
			                    	<!--<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
			                        </div>-->
                                    {% csrf_token %}
                                    {{ form|crispy }}
			                        <button type="submit" class="btn">Sign in!</button>
			                    </form>
                                <br />
                                <center><a href="#">Forgot password?</a></center>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src='{% static "accounts/assets/js/jquery-1.11.1.min.js" %}'></script>
        <script src='{% static "accounts/assets/bootstrap/js/bootstrap.min.js" %}'></script>
        <script src='{% static "accounts/assets/js/jquery.backstretch.min.js" %}'></script>
        <script src='{% static "accounts/assets/js/scripts.js" %}'></script>
        
        <!--[if lt IE 10]>
            <script src='{% static "accounts/assets/js/placeholder.js" %}'></script>
        <![endif]-->

    </body>

</html>