{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <link rel="shortcut icon" href="img/icon.ico" />
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MyVizagProprtyManagement</title>		
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Muhammad Morshed">
		
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS
		================================================== -->
		
		<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>-->
		
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href='{% static "core/css/font-awesome.min.css" %}'>
		<!-- bootstrap.min -->
        <link rel="stylesheet" href='{% static "core/css/jquery.fancybox.css" %}'>
		<!-- bootstrap.min -->
        <link rel="stylesheet" href='{% static "core/css/bootstrap.min.css" %}'>
		<!-- bootstrap.min -->
        <link rel="stylesheet" href='{% static "core/css/owl.carousel.css" %}'>
		<!-- bootstrap.min -->
        <link rel="stylesheet" href='{% static "core/css/slit-slider.css" %}'>
		<!-- bootstrap.min -->
        <link rel="stylesheet" href='{% static "core/css/animate.css" %}'>
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href='{% static "core/css/main.css" %}'>

		<!-- Modernizer Script for old Browsers -->
        <script src='{% static "core/js/modernizr-2.6.2.min.js" %}'></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
		<!-- end preloader -->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body">MVPM</a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body">Home</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#whymvpm">WHY MVPM</a></li>
                        <li><a href="#testimonials">Testimonial</a></li>
                        <li><a href="#price">pricing</a></li>
                        <li><a href="#contact">Contact</a></li>

                    </ul>
                        <a href="/homes_for_rent" class="btn btn-blue" style="color: white">Homes for Rent</a>
                     <!--<a href="/account" class="btn btn-blue" style="border-radius: 50%">Login</a>-->
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		
		<main class="site-content" role="main">
		
        <!--
        Home Slider
        ==================================== -->
		
		<section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

						<div class="bg-img bg-img-1"></div>

						<div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown">MyVizagPropertyManagement</h2>
                                <span class="animated fadeInDown">Your Property Our Responsibilily </span>
                                <a href="/account/dashboard/manage_property/properties/" class="btn btn-blue btn-effect">Login</a>
                            </div>
                        </div>
						
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
					
						<div class="bg-img bg-img-2"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2>MyVizagPropertyManagement</h2>
                                <span>Your Property Our Responsibilily</span>
                                <a href="/account" class="btn btn-blue btn-effect">Login</a>
                            </div>
                        </div>
						
					</div>
					
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						
						<div class="bg-img bg-img-3"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2>MyVizagPropertyManagement</h2>
                                <span>Your Property Our Responsibilily</span>
                                <a href="/account" class="btn btn-blue btn-effect">Login</a>
                            </div>
                        </div>

					</div>

				</div><!-- /sl-slider -->

                <!-- 
                <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">Previous</span>
                    <span class="nav-arrow-next">Next</span>
                </nav>
                -->
                
                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>
                

				<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
		</section>
		
        <!--
        End Home SliderEnd
        ==================================== -->
			
			<!-- about section -->
			<section id="about" >
				<div class="container">
					<div class="row">
						<div class="col-md-4 wow animated fadeInLeft">
							<div class="recent-works">
								<h3>WHAT WE DO</h3>
								<div id="works">
									<div class="work-item">
                                        <h3>Property Management</h3>
										<p>MVPM is Property Management Company meant for the people owning multiple assets or not staying in same city as asset.</p>
									</div>
									<div class="work-item">
                                        <h3>Property Maintenance</h3>
										<p>Through our holistic services we undertake your property and its upkeep. Then through our vast experience and domain expertise, we keep your asset well maintained and occupied.</p>
									</div>
									<div class="work-item">
                                        <h3>Property Renting</h3>
										<p>Our experts corporate sale team and creates a huge database of interested tenants to keep the property occupied with no vacant or drop out periods. Our lettings team checks and balances on tenant quality and profiling etc.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
							<div class="welcome-block">
								<h3>About Us</h3>								
						     	 <div class="message-body">
									<img src='{% static "core/img/member-1.jpg" %}' class="pull-left" alt="member">
						       		<p>We are a team of professionals offering Property Management Services in Vizag. We have a professionally experienced and innovative team working with clients. Thus with proven reputation for excellent customer service, we add strength to each asset owner.

We work on behalf of property owner and deal directly with prospects and tenants, saving your time and worries over marketing your rentals, rent collection, handling maintenance and repair issues, responding to tenant complaints etc.
</p>
						     	 </div>
						       	<a href="#" class="btn btn-border btn-effect pull-right">Read More</a>
						    </div>
						</div>
					</div>
				</div>
			</section>
			<!-- end about section -->
			
			
			<!-- Service section -->
			<section id="whymvpm">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">why MVPM</h2>
							<p class="wow animated bounceInRight">The reason why choose us</p>
						</div>
						
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-home fa-3x"></i>
								</div>
								<h3>365 days support</h3>
								<p>We ensure that our clients receive excellent services that are available 365 Days. </p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-tasks fa-3x"></i>
								</div>
								<h3>Well Documented</h3>
								<p>We follow strict legal paperwork as it is said, “If it is not written it does not exist “. </p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-clock-o fa-3x"></i>
								</div>
								<h3>Online Updates</h3>
								<p>We provide you regular updates of your property.</p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-heart fa-3x"></i>
								</div>
								
								<h3>Security</h3>
								<p>We are committed to our customers offering them best as they deserve.</p>							
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- end Service section -->
			
			<!-- Testimonial section -->
			<section id="testimonials" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
						
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>What people say</h2>
							</div>
							
							<div id="testimonial" class=" wow animated fadeInUp">
								<div class="testimonial-item text-center">
									<img src='{% static "core/img/member-1.jpg" %}' alt="Our Clients">
									<div class="clearfix">
										<span>srinivas savaram</span>
										<p>Dear MVPM. We came into our place again today, as has always been our experience, we could not be more thrilled with the condition and cleanliness and just wanted to pass on our thanks to you. We feel the credit is due to you for the correct tenant criteria, management and support services, and have had nothing but good experience to show for it. We just want you to know how grateful and fortunate we feel for your service and efforts on our behalf.</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src='{% static "core/img/member-1.jpg" %}' alt="Our Clients">
									<div class="clearfix">
										<span>srinivas savaram</span>
										<p>I have been using MVPM for managing my property in Vizag and am extremely satisfied with their service and professionalism. They really take good care of my property by making sure that is rented to the right tenants and also maintain the house when required. They do routine inspections and send me quarterly reports. They also make sure that all the bills are paid timely including the rent. I would recommend this service to anyone planning to rent a house in NCR region. Being an NRI, I can't imagine owning and maintaining a house in NCR without MVPM!!</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src='{% static "core/img/member-1.jpg" %}' alt="Our Clients">
									<div class="clearfix">
										<span>srinivas savaram</span>
										<p>I am really impressed with the service and help I received from MVPM team. It clearly identified where improvements could be made to my apartment and provided clear direction for the maintenance work for the apartment. Excellent service all the way around from start to finish. The service and personal attention is extraordinary.</p>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>
			<!-- end Testimonial section -->
			
			<!-- Price section -->
			<section id="price">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Pricing</h2>
							<p>Our price for your Property</p>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp">
							<div class="price-table featured text-center">
								<span>Silver</span>
								<div class="value">
									<span>$</span>
									<span>24,35</span><br>
									<span>month</span>
								</div>
								<ul>
									<li>No Bonus Points</li>
									<li>No Bonus Points</li>
									<li>No Bonus Points</li>
									<li>No Bonus Points</li>
									<li><a href="#contact">sign up</a></li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
							<div class="price-table featured text-center">
								<span>Gold</span>
								<div class="value">
									<span>$</span>
									<span>50,00</span><br>
									<span>month</span>
								</div>
								<ul>
									<li>Free Trial</li>
									<li>Free Trial</li>
									<li>Free Trial</li>
									<li>Free Trial</li>
									<li><a href="#contact">sign up</a></li>
								</ul>
							</div>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
							<div class="price-table featured text-center">
								<span>Diamond</span>
								<div class="value">
									<span>$</span>
									<span>123,12</span><br>
									<span>month</span>
								</div>
								<ul>
									<li>All Bonus Points</li>
									<li>All Bonus Points</li>
									<li>All Bonus Points</li>
									<li>All Bonus Points</li>
									<li><a href="#contact">sign up</a></li>
								</ul>
							</div>
						</div>
		
					</div>
				</div>
			</section>
			<!-- end Price section -->
			
			<!-- Social section -->
			<section id="social" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
						
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>FOLLOW US</h2>
								<p>Beautifully simple  buttons to help you follow us</p>
							</div>
							
							<ul class="social-button">
								<li class="wow animated zoomIn"><a href="https://www.facebook.com/SudigaliSudheerOfficial/"><i class="fa fa-facebook-square fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://twitter.com/Srinandan33"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://plus.google.com/109591569487571666386"><i class="fa fa-google-plus fa-2x"></i></a></li>
							</ul>
							
						</div>
					</div>
				</div>
			</section>
			<!-- end Social section -->
			
			<!-- Contact section -->
			<section id="contact" >
				<div class="container">
					<div class="row">
						
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Contact</h2>
							<p>Leave a Message</p>
						</div>
						
						
						<div class="col-md-7 contact-form wow animated fadeInLeft">
                            <form method="post" action="">
                                {% csrf_token %}
                                {{ form|crispy }}
                               <button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
                            </form>
                        </div>
						
						<div class="col-md-5 wow animated fadeInRight">
							<address class="contact-details">
								<h3>Address</h3>						
								<!--<p><i class="fa fa-pencil"></i>Phoenix Inc.<span>PO Box 345678</span> <span>Little Lonsdale St, Melbourne </span><span>Australia</span></p><br>
								<p><i class="fa fa-phone"></i>Phone: (415) 124-5678 </p>
								<p><i class="fa fa-envelope"></i>website@yourname.com</p>-->
                               <p> 12-1-22, <br />
                               Near Hotel Green Park,<br />
                                Below State Bank of Bikaner & Jaipur<br />
                                Visakhapatnam 530002<br />

                                    Landline: +91-891-278-2221</p>
							</address>
						</div>
			
					</div>
				</div>
			</section>
			<!-- end Contact section -->
			
			<section id="google-map">
				<div id="map-canvas" class="wow animated fadeInUp"></div>
			</section>
		
		</main>
		
		<footer id="footer">
			<div class="container">
                <div class="footer-content">
				<div class="row text-center">
                    <div class="wow animated fadeInDown">
							<p>In Assosiation With</p>
                        <a href="http://indigenius.co.in/" target="_blank"><img class="img-responsive" src='{% static "core/img/indigenius.jpg" %}' alt="_indigenouslogo" width="500px"></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src='{% static "core/js/jquery-1.11.1.min.js" %}'></script>
		<!-- Twitter Bootstrap -->
        <script src='{% static "core/js/bootstrap.min.js" %}'></script>
		<!-- Single Page Nav -->
        <script src='{% static "core/js/jquery.singlePageNav.min.js" %}'></script>
		<!-- jquery.fancybox.pack -->
        <script src='{% static "core/js/jquery.fancybox.pack.js" %}'></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src='{% static "core/js/owl.carousel.min.js" %}'></script>
        <!-- jquery easing -->
        <script src='{% static "core/js/jquery.easing.min.js" %}'></script>
        <!-- Fullscreen slider -->
        <script src='{% static "core/js/jquery.slitslider.js" %}'></script>
        <script src='{% static "core/js/jquery.ba-cond.min.js" %}'></script>
		<!-- onscroll animation -->
       <script src='{% static "core/js/wow.min.js" %}'></script>
		<!-- Custom Functions -->
        <script src='{% static "core/js/main.js" %}'></script>
    </body>
</html>