{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="col-sm-12 col-sm-offset-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ message }}</strong></div>
            {% endfor %}
        </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i> Profile
        </div>

    <div class="row" style="margin-top: 2%">
        <div class ="col-3" style="margin-left:1%">
            <img src="{{ user.userprofile.avatar.url }}" class="img-responsive avatar" width="100%"/>
        </div>
        <div class="col-md-6 mywell">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <button type="submit" value="submit" class="btn btn-danger btn-block">Save</button>
            </form>
        </div>
    </div>
    </div>
{% endblock content %}