{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user"></i> Profile
        </div>

    <div class="row" style="margin-top: 2%">
        <div class ="col-3" style="margin-left:1%">
            <img src="{{ user.userprofile.avatar.url }}" class="img-responsive avatar" width="100%"/>
        </div>
        <div class="col-md-6 mywell">
            <form method="post">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <button type="submit" value="submit" class="btn btn-danger btn-block">Save</button>
            </form>
        </div>
    </div>
    </div>
{% endblock content %}