

{% extends 'dashboard/dashboard.html' %}
{% block content %}
    <div class="col-sm-12 col-sm-offset-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ message }}</strong></div>
            {% endfor %}
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-university"></i> Properties
        </div>
    <div class="bs-example">
        <div class="row" style="margin:5px">
    {% for obj in properties %}

            <div class="col-md-4">
                <div class="snthumbnail">
                    {% if obj.thumbnail %}
                         <img src='{{ obj.thumbnail.url }}' class="img-responsive" style="width: 100%;height: 225px" />
                    {% endif %}
                    <div class="card-title mb-1" style="font-size: large">
                        {{ obj.proname }}
                    </div>
                    <p class="proinfo" style=""> {{ obj.property_type }} | {{ obj.service_type }} | {{ obj.plan }} | {{ obj.date.date }} </p>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
    </div>
{% endblock content %}